<ng-container *ftsLet="initialViewModel$ | async as vm">
  <nz-layout>
    <nz-sider
      *ngIf="!vm.layout.isMobile && vm.user"
      nzTheme="light"
      [nzWidth]="250"
    >
      <fts-sider-user-info [user]="vm.user"></fts-sider-user-info>
      <fts-main-menu></fts-main-menu>
    </nz-sider>
    <nz-layout>
      <nz-content>
        <fts-page-header
          *ngIf="vm.pageHeader.pageTitle"
          (addTransaction)="addTransaction()"
          [pageHeader]="vm.pageHeader"
          [isMobileLayout]="vm.layout.isMobile"
        ></fts-page-header>
        <main [class.page-padding]="vm.user?.uid">
          <router-outlet></router-outlet>
          <router-outlet name="popup"></router-outlet>
        </main>
      </nz-content>
      <nz-footer *ngIf="vm.layout.isMobile && vm.user">
        <fts-main-menu *ngIf="openMenu"></fts-main-menu>
        <fts-footer-actions
          (footerAction)="handleFooterAction($event)"
          [userPhotoURL]="vm.user.photoURL"
        ></fts-footer-actions>
      </nz-footer>
    </nz-layout>
  </nz-layout>
</ng-container>
