<ng-container *ngrxLet="user$ as user">
  <nz-divider [nzText]="userDetails" nzOrientation="left">
    <ng-template #userDetails>
      <section class="user-details">
        <nz-avatar
          [nzSrc]="user!.photoURL"
          [nzSize]="72"
          nzIcon="user"
        ></nz-avatar>
        <h3 nz-typography class="margin-none">{{ user!.displayName }}</h3>
      </section>
    </ng-template>
  </nz-divider>

  <section class="edit-profile">
    <div>
      <h5 nz-typography>Display name:</h5>
      <span
        (nzContentChange)="editUserDisplayName($event, user!.displayName)"
        [nzContent]="user!.displayName"
        nzEditable
        nzEditTooltip="Edit display name"
        nz-typography
        class="name-edit"
      ></span>
    </div>

    <div>
      <h5 nz-typography>Change the photo:</h5>

      <button (click)="fileSelectingInput.click()" nz-button>
        <span nz-icon nzType="upload"></span>
        Upload
      </button>
      <input
        (change)="changeUserPhoto($event, user!.uid!)"
        #fileSelectingInput
        hidden
        id="upload-button"
        type="file"
      />
      <div class="progress-bar">
        <nz-progress
          *ngIf="showPhotoUploadingProgress"
          [nzPercent]="fileUploader.progress$ | ngrxPush"
          nzSize="small"
        ></nz-progress>
      </div>
    </div>

    <fts-settings></fts-settings>
  </section>

  <button
    nz-button
    (click)="signOut()"
    nzType="primary"
    nzDanger
    class="sign-out-button"
  >
    Sign out
  </button>
</ng-container>
