<ul nz-menu>
  <li nz-menu-item nzMatchRouter>
    <span nz-icon nzType="dashboard" nzTheme="twotone"></span>
    <a routerLink="dashboard">Dashboard</a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <span nz-icon nzType="wallet" nzTheme="twotone"> </span>
    <a routerLink="wallets">Wallets</a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <span nz-icon nzType="tag" nzTheme="twotone"></span>
    <a routerLink="categories">Categories</a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <span nz-icon nzType="account-book" nzTheme="twotone"> </span>
    <a routerLink="history">History</a>
  </li>
</ul>
