<ul nz-menu>
  <li nz-menu-item nzMatchRouter>
    <i nz-icon nzType="dashboard" nzTheme="twotone"></i>
    <a routerLink="dashboard">Dashboard</a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <i nz-icon nzType="wallet" nzTheme="twotone"> </i>
    <a routerLink="wallets">Wallets</a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <i nz-icon nzType="account-book" nzTheme="twotone"> </i>
    <a routerLink="history">History</a>
  </li>
  <li nz-menu-item>
    <i nz-icon nzType="pie-chart" nzTheme="twotone"> </i>
    <a routerLink="charts">Charts</a>
  </li>
  <li nz-menu-item>
    <i nz-icon nzType="setting" nzTheme="twotone"></i>
    <a routerLink="settings">Settings</a>
  </li>
</ul>
